
/* General colors
 ****************/ 
.pifr-ok {
  background: #9bff9b;
}

.pifr-warning {
  background: #f5e742;
}

.pifr-error {
  background: #ffacac;
}

/* Test result colors
 ********************/
tr.pifr-pass.odd {
  background: #b6ffb6;
}

tr.pifr-pass.even {
  background: #9bff9b;
}

tr.pifr-fail.odd {
  background: #ffc9c9;
}

tr.pifr-fail.even {
  background: #ffacac;
}

tr.pifr-exception.odd {
  background: #f4ea71;
}

tr.pifr-exception.even {
  background: #f5e742;
}

/* Client admin
 ***************/
.pifr-enabled {
  color: green;
}

.pifr-disabled {
  color: red;
}
