
/* Test page
 ************/
fieldset.pifr-test {
  float: left;
  margin-right: 10px;
}

#pifr-log {
  clear: both;
}

#pifr-summary {
  padding: 5px;
}

#pifr-steps li {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1px 5px;
  color: #cccccc;
}

#pifr-steps li.pifr-init {
  background-color: #eeeeee;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}

#pifr-steps li.first {
  border-top: 1px solid #cccccc;
}

#pifr-steps li.pifr-last {
  border-bottom: 1px solid #cccccc;
}

#pifr-steps li.pifr-pass {
  color: green;
}

#pifr-steps li.pifr-fail {
  color: red;
}

#pifr-steps li div {
  color: #494949;
}

.pifr-assertion-summary {
  padding: 5px;
  border: 1px solid #cccccc;
  margin-bottom: 15px;
}

.pifr-assertion-header {
  cursor: pointer;
}

.pifr-assertion-header.odd:hover, .pifr-assertion-header.even:hover {
  background-color: white;
}

img.pifr-assertion {
  margin: 0 10px 0 5px;
}

/* Status page
 **************/
#pifr-graphs div.ui-tabs-panel {
  text-align: center;
}
